---
layout: home
---

<div class="index-content blog">
    <div class="section">
        <ul class="artical-cate">
            <li class="on"><a href="/"><span>Blog</span></a></li>
            <li style="text-align:center"><a target="_blank" href="/atom.xml"><span>Feed</span></a></li>
            <li style="text-align:right"><a target="_blank" href="/wiki"><span>Wiki</span></a></li>
        </ul>

        <div class="cate-bar"><span id="cateBar"></span></div>

        <ul class="artical-list">
        {% for post in site.categories.blog %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="title-desc">{{ post.description }}</div>
            </li>
        {% endfor %}
        </ul>
        
        {% if paginator.page > 2 %}
        <li><a href="/page{{paginator.previous_page}}/">上一页</a></li>
        {% endif %}
        {% assign pageSize = 5 %}
        {% assign startPage = paginator.page | minus:pageSize %}
        {% if 2 > startPage %}	
        {%	assign startPage = 2 %}
        {% endif %}
        {% assign endPage = paginator.page | plus:pageSize %}
        {% if endPage >= paginator.total_pages %}	
        {%	assign endPage = paginator.total_pages | minus:1 %}
        {% endif %}
        {% for count in (startPage..endPage) %}
        {% if count == paginator.page %}
        <li><a href="#"><span class="current-page">{{count}}</span></a></li>
        {% else %}
        <li><a href="/page{{count}}/">{{count}}</a></li>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li><a href="/page{{paginator.next_page}}/">下一页</a></li>
        {% endif %}
        <li><a href="/page{{paginator.total_pages}}/">末页</a></li>
        <li><a href="#">第{{paginator.page}}页 / 共{{paginator.total_pages}}页</a></li>
    
    </div>
    <div class="aside">
    </div>
</div>
