<!DOCTYPE html>
<html>
<head>
    <!--
    * Author: Vien Dave
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="戴维扬" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="产品经理,PRD,axure,交互设计,产品需求文档,产品设计,原型设计,demo,app,产品运营,互联网" />
    <meta name="description" content="Vien's island | 戴维扬的个人博客，前程序猿，现产品狗，偶尔出来汪两口。 " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/global/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/global/images/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/global/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Vien Dave</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="http://weibo.com/1843172481" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
            <a href="http://www.douban.com/people/54279294/" target="_blank" style="text-align:center;"><img src="http://www.douban.com/favicon.ico" alt="" width="22"/></a>
            <a href="http://instagram.com/vien_dave" target="_blank" style="text-align:right"><img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/00c6602/images/ico/favicon.ico" alt="" width="22"/></a>
        </div>
    </div>

    <div class="hide">
        <script src="http://s5.cnzz.com/z_stat.php?id=1000309854&web_id=1000309854" language="JavaScript"></script>
    </div>
    
    {{ content }}

    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
        })
    </script>
</body>
</html>
